<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Students_IL</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f31036d50f.js" crossorigin="anonymous"></script>

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/job-portal-website-template/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/job-portal-website-template/css/style.css" rel="stylesheet">
</head>


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow  p-1">
    <a class="navbar-brand d-flex align-items-center text-center py-5 px-2 px-lg-5" href="index"><img
            src="/job-portal-website-template/img/LOGO2.png" alt=""></a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0" style="font-family: Segoe UI Semibold;">

            <a href="/CV" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block me-3"
                style="font-family: Segoe UI Semibold; font-size: large;"> יצירת קורות חיים<i
                    class="fa fa-arrow-right ms-3 "></i></a>
            <a href="/notifications_student" class="nav-item nav-link" style="font-size: medium;"><i
                    class="fa-regular fa-bell" style="padding-right:5px;"></i>התראות</a>
            <a href="/search_job" class="nav-item nav-link" style="font-size: medium;"></i>משרות</a>
            <a href="/index#top" class="nav-item nav-link" style="font-size: medium;">אודות</a>
            <a href="index" class="nav-item nav-link " style="font-size: medium;">בית</a>
            <div>
                <a href="/enter" class="nav-item nav-link"><i class="fa-solid fa-arrow-right-from-bracket"
                        style="padding-right:5px;"></i>התנתקות</a>

            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown" style="font-family: Segoe UI Semibold;">
                    יצירת קורות חיים
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->


        <div class="" dir="rtl">
            <form action="/cv" method="POST">
                <div class="row 12">
                    <h5 style="font-family:Segoe UI Semibold;">פרטים אישיים <i class="fa fa-id-card-o"
                            style="font-size:20px"></i></h5>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control" name="firstname" placeholder="שם פרטי" pattern="[א-ת]+"
                            title="אנא הזן אותיות א-ת בלבד" required />
                        <br>
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control" name="lastname" placeholder="שם משפחה" pattern="[א-ת]+"
                            title="אנא הזן אותיות א-ת בלבד" required />
                        <br>
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control" name="email" placeholder="אנא הזן כתובת מייל תקינה"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="אנא הזן כתובת מייל תקינה"
                            required />
                        <br>
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control" name="phone" placeholder="אנא הזן מספר טלפון תקין"
                            pattern="05?[0-9]-?[0-9]{7}" title="אנא הזן מספר סלולרי תקין" required />
                        <br>
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control" name="year" placeholder="שנת לידה">
                        <br>
                    </div>
                    <h5 style="font-family:Segoe UI Semibold;">מוסד לימודים <i class="fa fa-graduation-cap"
                            style="font-size:20px"></i></h5>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control" name="academic" placeholder="מוסד לימודים">
                        <br>
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control" name="type" placeholder="סוג תעודה (לדוגמה:תואר ראשון)">
                        <br>
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control" name="domain" placeholder="תחום לימודים (לדוגמה:כלכלה)">
                        <br>
                    </div>
                    <div class="col-12 col-sm-6">
                        <label for="start">תאריך התחלה</label>
                        <input type="date" id="start" name="date_start" value="----\--\--" min="1925-01-01"
                            max="2023-12-31">

                        <label for="start">תאריך סיום</label>
                        <input type="date" id="start" name="date_end" value="----\--\--" min="1925-01-01"
                            max="2030-12-31">
                        <br>
                    </div>
                    <div class="col-12 col-sm-12">
                        <textarea class="form-control" name="detail_of_study" rows="1" placeholder="תיאור"></textarea>
                        <br>
                    </div>
                    <h5 style="font-family:Segoe UI Semibold;">מידע נוסף <i class='fas fa-edit'
                            style='font-size:20px'></i></h5>
                    <div class="col-12 col-sm-12">
                        <textarea class="form-control" name="more_detail" rows="1"
                            placeholder="דברים רלוונטים נוספים שברצונך להוסיף כגון: ניסיון תעסוקתי,שירות צבאי/לאומי,ידע בשפות,העדפה למשרה וכו'"></textarea>
                        <br>
                    </div>



                    <div class="col-12">
                        <div>

                            <h3 class="display-10 text-black mb-3 animated slideInDown"
                                style="font-family: Segoe UI Semibold;"><i
                                    class="fa fa-solid fa-circle-exclamation text-primary me-3"
                                    style="font-size: xx-large;"></i>
                                שים לב - על מנת להעלות קובץ תקין, שם הקובץ חייב להיות תעודת הזהות האישית שלך בלבד!!!
                            </h3>
                            <br>
                            <h3 class="display-10 text-black mb-3 animated slideInDown"
                            style="font-family: Segoe UI Semibold;"><i
                                class="fa fa-solid fa-circle-exclamation text-primary me-3"
                                style="font-size: xx-large;"></i>
                           לאחר שמירת קובץ קורות החיים במחשב האישי, עליך לעדכן ב"עדכון פרטים אישיים" ולהעלות קובץ זה
                        </h3>
                        <br>
                            <form action="CV" method="post">
                                <button onclick="printFunction()"
                                    class="btn btn-primary rounded-0 py-2 px-lg-3 d-none d-lg-block me-3 mb-3"
                                    style="font-family: Segoe UI Semibold;"
                                    style="text-align:center;">הדפס/שמור קורת חיים</button>

                                <script>
                                    function printFunction() {
                                        window.print();
                                    }
                                </script>
                            </form>
                        </div>



                    </div>

            </form>

        </div>

    </div>

    </div>
    </div> 
        </div>





    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/job-portal-website-template/js/main.js"></script>
</body>

</html>