<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Students_IL</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f31036d50f.js" crossorigin="anonymous"></script>

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/job-portal-website-template/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/job-portal-website-template/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


           <!-- Navbar Start -->
           <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-1">
            <a class="navbar-brand d-flex align-items-center text-center py-5 px-2 px-lg-5" href="index"><img
                    src="/job-portal-website-template/img/LOGO2.png" alt=""></a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0" style="font-family: Segoe UI Semibold;">

                    <a href="/CV" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block me-3"
                        style="font-family: Segoe UI Semibold; font-size: large;"> יצירת קורות חיים<i
                            class="fa fa-arrow-right ms-3 "></i></a>
                    <a href="/notifications_student" class="nav-item nav-link" style="font-size: medium;"><i class="fa-regular fa-bell"
                            style="padding-right:5px;"></i>התראות</a>
                    <a href="/search_job" class="nav-item nav-link" style="font-size: medium;"></i>משרות</a>
                    <a href="#top" class="nav-item nav-link" style="font-size: medium;">אודות</a>
                    <a href="index" class="nav-item nav-link " style="font-size: medium;">בית</a>
                    <div>
                        <a href="/enter" class="nav-item nav-link"><i class="fa-solid fa-arrow-right-from-bracket"
                                style="padding-right:5px;"></i>התנתקות</a>

                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->



        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown" style="font-family: Segoe UI Semibold;">יצירת קשר עם סוכן</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->


        <!-- Contact Start -->
        <div  class="container-xxl py-5">
            <div class="col-md-90">
                <div class="wow fadeInUp" data-wow-delay="0.5s">
                    <p class="mb-4" dir="rtl" >אתרינו מציע שירות פנייה לסוכן חכם.<br>
                        בכמה צעדים פשוטים תוכל לקבל סיוע במציאת המועמד הטוב ביותר עבורך!
                    <form action="studentcontact" method="POST">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class ="form-floating" >
                                    <input type="email" class="form-control" name="email" placeholder="Your Email">
                                    <label for="email">מייל </label required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type ="text" class="form-control"  name="name" placeholder="Your Name">
                                    <label for="name" >שם מלא</label required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject">
                                    <label for="subject" >נושא</label required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" name="content" 
                                        style="height: 150px"></textarea>
                                    <label for="message">תוכן הפנייה</label required>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit" style="margin-bottom:10px ;">שלח פנייה </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Contact End -->


    <!-- Footer Start -->
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s"
            style="font-family: Segoe UI Semibold; color:#fff;">צור קשר</h1>
        <div class="container py-5">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center bg-light rounded p-4">
                            <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3"
                                style="width: 45px; height: 45px;">
                                <i class="fa fa-map-marker-alt text-primary"></i>
                            </div>
                            <span style="color:#2B3940;font-family: Segoe UI Semibold; " dir="rtl">המכללה האקדמית להנדסה
                                "סמי שמעון", באר שבע</span>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center bg-light rounded p-4">
                            <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3"
                                style="width: 45px; height: 45px;">
                                <i class="fa fa-envelope-open text-primary"></i>
                            </div>
                            <span style="color:#2B3940;font-family: Segoe UI Semibold;"
                                dir="rtl">Students_IL@gmail.com</span>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="d-flex align-items-center bg-light rounded p-4">
                            <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3"
                                style="width: 45px; height: 45px;">
                                <i class="fa fa-phone-alt text-primary"></i>
                            </div>
                            <span style="color:#2B3940;font-family: Segoe UI Semibold;" dir="rtl">1-800-207-777</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

       <!-- נגישות -->
       <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
       <script src="https://www.negishim.com/accessibility/accessibility_pro.js" type="text/javascript"></script>
       <script type="text/javascript">
           accessibility_rtl = true;
           pixel_from_side = 5;
           pixel_from_start =106;
       </script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/job-portal-website-template/js/main.js"></script>
</body>

</html>